﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebsiteMaster.master" AutoEventWireup="true" CodeFile="Search_Result.aspx.cs" Inherits="Search_Result" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <div class="banner-area" id="banner-area" style="background-image:url(Content/uploads/InnerBanner/InnerBanner-de19b371-353c-4f89-b8f6-f0cf0d6deb3a.jpg); background-repeat:no-repeat;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="banner-heading">
                    <h1 class="banner-title">Search Result</h1>
                    <ol class="breadcrumb">
                        <li><a rel="canonical" href="/">Home</a></li>
                        <li>Search Result</li>
                    </ol>
                </div>
            </div>
            <!-- Col end-->
        </div>
        <!-- Row end-->
    </div>
    <!-- Container end-->
</div>


<section class="main-container  mrt-40" id="main-container">

    <div class="container-fluid">
        
        <div class="row">

            <div class="green_banner">
                <div class="page_title">
                    Search Result for :
                    <span style="display: inline-block; text-transform: none;">
                        <asp:Label ID="lbTitle" runat="server"></asp:Label>
                    </span>
                </div>
            </div>

        </div>

        <div class="container text_format fade_anim">

            <div class="row">
                     <p class="col-md-12" id="pError" style="display:none" align="center">
                    No matching result found.<br>
                    Please modify your search criteria and try searching again.
                </p>

                <ul class="search_result bullet">
                    
                   <asp:Literal ID="ltrDescription" runat="server"></asp:Literal>
           </ul>
            </div>        


                <div class="clear"></div>



        </div>


     
    </div>


    
</section>


<style>

    .green_banner {width:100%;height:auto;margin:0px 0px 30px;float:left;display:block;background: #eee; font-weight:700;}
.green_banner .page_title {width:90%;display:block;margin:30px auto;font-size:18px;color: #0f2765;text-transform:uppercase;}

.text_format {letter-spacing:0; font-size:13px; line-height:22px;}
.text_format p {font-size:13px; margin-bottom:25px;}
.text_format h1 {font-size:14px; font-weight:600; margin-bottom:25px;}
.text_format ul {margin:-10px 0px 20px 0px; display:block;}
.text_format ul li {margin-bottom:10px; list-style:disc; margin-left:15px;}
.text_format ul.bullet {margin:0px 0px 20px 0px; display:block;}
.text_format ul.bullet li {list-style:none; margin-left:0px; background:url(../content/images/favicon.png) no-repeat left 5px; padding-left:20px;}
.text_format ul.bullet li ul {margin-top:10px;}
.text_format ul.bullet li ul li {background:none; list-style:disc; margin-left:15px; padding-left:0;}
/*.text_format .logo_bullet {background:url(../images/logo_bullet.png) no-repeat left 5px; padding-left:20px;}*/
.text_format u {text-decoration:none; border-bottom:1px solid #333;}

ul.search_result {display:block;}
ul.search_result li {float:left; list-style:none;}
ul.search_result li .search_hd {font-weight:bold; font-size:16px;}
</style>

       <script type="application/ld+json">
{
  "@context": "https://schema.org/", 
  "@type": "BreadcrumbList", 
  "itemListElement": [{
    "@type": "ListItem", 
    "position": 1, 
    "name": "Home",
    "item": "https://www.alchemycapital.com/"  
  },{
    "@type": "ListItem", 
    "position": 2, 
    "name": "Search",
    "item": "https://www.alchemycapital.com/Search_Result.aspx"  
  }]
}
</script>

</asp:Content>

