* {margin:0;padding:0}
::-webkit-scrollbar{width:8px;background-color:#aaa}
::-webkit-scrollbar-thumb{background-color:#000;border-radius:5px}
::selection{background:#222;color:#fff}
::-moz-selection{background:#222;color:#fff}
body {font-family: 'Roboto',sans-serif;font-size:16px;color:#333}
.font-weight-medium {font-weight:500}

@media (min-width:1400px) {.container {max-width:1350px}}

header {padding-top:10px;padding-bottom:10px}
.logo {display:block;width:150px}

.bannerSection {width:100%;min-height:400px;position:relative;background:#eee}
.bannerImg {width:100%;height:100%;display:block;position:absolute;top:0;left:0;object-fit:cover;object-position:center center}

.bannerTextArea h1 {font-size:40px;text-shadow:0 0 40px rgba(0,0,0,1);line-height:1.4;margin-bottom:0}
.bannerTextArea h2 {font-size:18px;background:#ffae18;padding:10px 20px;display:inline-block;transition-delay:.4s}

.bannerTextArea.whiteBg h1 {font-size:40px;line-height:1.4;background:#fff;padding:5px 15px 15px;text-shadow:none;color:#a47300;}
.bannerTextArea.whiteBg h2 {font-size:18px;background:#325074;padding:10px 20px;display:inline-block;transition-delay:.4s;margin-top:-15px}

.bannerTextArea.topshift h1 {font-size:40px;line-height:1.4;color:#325074;text-shadow:none}
.bannerTextArea.topshift h2 {font-size:18px;background:#bca068;padding:10px 20px;display:inline-block;transition-delay:.4s;margin-top:-15px}


.bannerTextArea.ascentformat_1 h1 {font-size:40px;line-height:1.4;color:#000;text-shadow:none;}
.bannerTextArea.ascentformat_1 h1 span {font-size:40px;line-height:1.4;color:rgb(143,103,3);text-shadow:none}


.formHolder {max-width:400px;position:relative;filter:drop-shadow(0 20px 10px rgba(0,0,0,.4))}

.formMain {padding:40px 25px 0;background:#0f2765}
.formTitle {font-size:18px}
.form-control {font-size:14px;height:40px}
.formMain .btn {background:#2154cf;color:#fff;width:130px;height:40px}
.formMain .btn:hover {background:#ffae18}
.consentStmt {font-size:13px;color:#dfdfdf;line-height:1.7}
.errorMsg {font-size:13px;line-height:1.5;color:#ff0000;font-weight:700;display:none}
.consentStmt .errorMsg {position:absolute;top:-5px;left:-10px;font-size:18px;font-weight:700}

.formBottom {height:40px}
.formBottom .strip {background:#0f2765}
.formBottom .fold {background:#ffae18;width:40px;clip-path: polygon(0 0, 0 100%, 100% 0)}

.brownBg .formMain, .brownBg .formBottom .strip {background:#bca068}
.brownBg .formBottom .fold {background:#333}

.custom-control-input:checked~.custom-control-label::before {color:#fff;border-color:#ffae18;background-color:#ffae18}

.aboutSection {padding-top:80px;padding-bottom:80px}

.aboutContent {max-width:1020px;font-size:18px;line-height:1.9}
.aboutContent strong {color:#0f2765;font-size:20px}
.title {font-size:30px}

.aboutStats {max-width:1000px}
.aboutStats .number {font-size:30px}

.omiHolder {}
.omiNo {font-size:55px;line-height:1;font-weight:700;padding-right:15px;color:#ffae18}
.omiTxt {line-height:1.5;text-align:left}

.mrktviewSection {padding-top:80px;padding-bottom:80px; background: rgb(241,241,241);background: -moz-linear-gradient(top, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);background: -webkit-linear-gradient(top, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);background: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff',GradientType=0 )}

.mrktviewList {max-width:1100px}
.mrktviewList .btn {background:#2154cf;color:#fff;height:100%;min-height:40px}
.mrktviewList .btn:hover {background:#ffae18;box-shadow:0 0 20px rgba(224,179,95,1)}

footer {background:#00081d;padding-top:30px;padding-bottom:30px;color:#8c93a5;font-size:14px;line-height:2}
footer a {color:#2154cf}
footer a.kweb {color:#484a4e}
footer a:hover {color:#ffae18}

.socialBtns {max-width:120px}
.socialBtns > .col {padding:5px}
.socialBtns a {width:30px;display:block}
.socialBtns a img {transform:scale(.75);transition:all .3s ease}
.socialBtns a:hover img {transform:scale(1)}

.stickBtn{position:fixed;right:30px;bottom:-200px;z-index:10000;opacity:0;transition:all .3s ease}
.stickBtn.stick{bottom:120px;opacity:1}
.stickyBtnAnchor{position:relative;top:100px;display:block;background:green}
.floatBtn {width:100px;height:100px;display:block;border-radius:50%;background:#ffae18;box-shadow:0 5px 15px rgba(224,179,95,1);border:0;color:#fff;font-size:14px}
.floatBtn:hover {color:#fff}

@media (min-width:992px) {
.bannerTextArea.topshift h1:before {content:'';width:120px;height:3px;display:block;background:#bca068;margin-bottom:10px}
.formHolder:before {width:0;height:0;display:block;content:'';position:absolute;left:-13px;border-top:0 solid transparent;border-left:13px solid transparent;border-right:0 solid transparent;border-bottom:13px solid #ffae18}
.brownBg .formHolder:before {border-bottom:13px solid #333}
.formHolder {top:-13px}
.mrktviewList .col:nth-child(5n+1) {transition-delay:0}
.mrktviewList .col:nth-child(5n+2) {transition-delay:.2s}
.mrktviewList .col:nth-child(5n+3) {transition-delay:.4s}
.mrktviewList .col:nth-child(5n+4) {transition-delay:.6s}
.mrktviewList .col:nth-child(5n+5) {transition-delay:.8s}

.omiHolder .omiBox:nth-child(3n+2) {transition-delay:.2s}
.omiHolder .omiBox:nth-child(3n+3) {transition-delay:.4s}

.bannerTextArea.whiteBg h1 {max-width:630px}
.bannerTextArea.whiteBg h2 {margin-left:15px!important}
}
@media (max-width:991.98px) {
.logo {width:110px}
.bannerTextArea {width:100%}
.bannerTextArea h2 {max-width:400px}
.formMain {padding:20px 25px 0}
.mrktviewList .col:nth-child(3n+1) {transition-delay:0}
.mrktviewList .col:nth-child(3n+2) {transition-delay:.2s}
.mrktviewList .col:nth-child(3n+3) {transition-delay:.4s}

.omiHolder .omiBox:nth-child(even) {transition-delay:.2s}
}
@media (max-width:767.98px) {
.bannerImg {object-position:center center}
.bannerTextArea h1 {font-size:30px}

.stickBtn{position:fixed;right:0;bottom:-200px;z-index:10000;opacity:0;transition:all .3s ease;width:100%;padding:0 15px}
.stickBtn.stick{bottom:0;opacity:1}
.floatBtn {width:100%;height:50px;color:#fff;font-size:10px;border-radius:5px 5px 0 0;text-align:center}
}
@media (max-width:575.98px) {
.bannerTextArea h1 {font-size:24px}
.bannerTextArea h2 {font-size:16px}
.mrktviewList .col:nth-child(odd) {transition-delay:0}
.mrktviewList .col:nth-child(even) {transition-delay:.2s}
.omiHolder .omiBox:nth-child(even) {transition-delay:0s}
}

.animateThis {position:relative;will-change:opacity transform}
.slide-left {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;-moz-transform: translate3d(50px, 0px, 0px);-webkit-transform: translate3d(50px, 0px, 0px);-o-transform: translate(50px, 0px, 0px);-ms-transform: translate(50px, 0px, 0px);transform: translate3d(50px, 0px, 0px)}
.slide-left.in-view {opacity: 1;-moz-transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-o-transform: translate(0px, 0px, 0px);-ms-transform: translate(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px)}
.slide-right {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;-moz-transform: translate3d(-50px, 0px, 0px);-webkit-transform: translate3d(-50px, 0px, 0px);-o-transform: translate(-50px, 0px, 0px);-ms-transform: translate(-50px, 0px, 0px);transform: translate3d(-50px, 0px, 0px)}
.slide-right.in-view {opacity: 1;-moz-transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-o-transform: translate(0px, 0px, 0px);-ms-transform: translate(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px)}
.slide-top {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;-moz-transform: translate3d(0px, 50px, 0px);-webkit-transform: translate3d(0px, 50px, 0px);-o-transform: translate(0px, 50px, 0px);-ms-transform: translate(0px, 50px, 0px);transform: translate3d(0px, 50px, 0px)}
.slide-top.in-view {opacity: 1;-moz-transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-o-transform: translate(0px, 0px, 0px);-ms-transform: translate(0px, 0px, 0px);transform: translate3d(0px, 0px, 0px)}
.fade-in {opacity:0;-moz-transition: all .5s ease;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease}
.fade-in.in-view {opacity:1}
@media(max-width:576px){
    .transbg {background: rgba(255,255,255,0.5);}
}

