body.home {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #4e4e4e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.width-setter {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; }

img {
  max-width: 100%; }

.header-container {
  padding-top: 10px;
  padding-bottom: 10px; }
  .header-container .logo-container {
    max-width: 150px; }

.home-banner-container {
  padding-bottom: 30px; }
  .home-banner-container .banner-image {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    background-size: contain;
    background-color: #f2f2f2; }
    .home-banner-container .banner-image > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 0;
      border-top: 1px solid transparent; }
  .home-banner-container .banner-text {
    flex: 1;
    padding-top: 60px;
    padding-right: 30px;
    max-width: 450px;
    margin: 0 auto;
    line-height: 1.2;
    padding-left: 125px;
    text-transform: uppercase; }
    .home-banner-container .banner-text h3 {
      margin: 0;
      font-size: 32px;
      font-weight: 600; }
    .home-banner-container .banner-text span {
      color: #8f6706; }
  .home-banner-container .callback-form-container {
    position: relative;
    padding: 20px 25px;
    z-index: 1;
    color: #ffffff;
    max-width: 350px;
    margin-top: -18px;
    margin-left: auto;
    background: linear-gradient(316deg, transparent 17px, #0f2865 18px); }
    .home-banner-container .callback-form-container:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: -18px;
      border-style: solid;
      border-color: transparent #f3ac14 #f3ac14 transparent;
      border-width: 18px 18px 0 0; }
    .home-banner-container .callback-form-container:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      right: -1px;
      border-style: solid;
      border-color: #f3ac14 transparent transparent transparent;
      border-width: 25px 25px 0 0; }
    .home-banner-container .callback-form-container ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: 12px;
      font-weight: 600; }
    .home-banner-container .callback-form-container .validation_message {
      color: #fa0101; }
    .home-banner-container .callback-form-container .cfield_label {
      display: none;
      margin-bottom: 5px;
      font-weight: 600; }
    .home-banner-container .callback-form-container .cfield {
      margin-bottom: 10px; }
    .home-banner-container .callback-form-container input[type="text"], .home-banner-container .callback-form-container select {
      width: 100%;
      box-sizing: border-box;
      padding: 8px; }
    .home-banner-container .callback-form-container input[type="submit"] {
      background-color: #265acf;
      color: #ffffff;
      border-color: #265acf;
      border-radius: 50px;
      padding: 8px 25px;
      font-size: 14px;
      font-weight: 600; }
    .home-banner-container .callback-form-container .cform_footer {
      margin-top: 25px; }
    .home-banner-container .callback-form-container .cform_title {
      font-size: 16px;
      font-weight: 600; }
  .home-banner-container .banner-note-container {
    background-color: #8f6706;
    color: #ffffff;
    font-size: 18px;
    text-align: center; }
    .home-banner-container .banner-note-container > div {
      padding-top: 10px;
      padding-bottom: 10px; }

.pms-section {
  padding-top: 0;
  padding-bottom: 30px; }
  .pms-section .section-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; }
  .pms-section .flex-section {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify; }
    .pms-section .flex-section p {
      margin-top: 0;
      margin-bottom: 0; }
    .pms-section .flex-section .pms-note {
      margin-top: 10px;
      font-size: 12px; }

.process-section {
  padding-top: 0;
  padding-bottom: 30px; }
  .process-section .section-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; }
  .process-section .process-flex-container {
    padding-bottom: 40px;
    border-bottom: 1px solid; }
  .process-section .flex-section img {
    margin: 0 auto;
    display: block; }
  .process-section .flex-section .icon-title {
    margin: 25px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center; }
  .process-section .process-icon {
    padding: 20px 10px; }

.strategies-section {
  padding-top: 0;
  padding-bottom: 60px; }
  .strategies-section .section-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; }
  .strategies-section .strategy-flex-container {
    margin-bottom: 40px; }
  .strategies-section .flex-section {
    background-color: #e6e6e6; }
    .strategies-section .flex-section .strategy-title {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.3;
      text-transform: capitalize; }
    .strategies-section .flex-section .strategy-desc {
      text-align: justify; }
  .strategies-section .strategy-note {
    color: #868686;
    text-align: center; }
    .strategies-section .strategy-note strong {
      color: #626262; }
  .strategies-section .know-more-container {
    margin-top: 30px;
    text-align: center; }
    .strategies-section .know-more-container p {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 18px;
      color: #656565; }
    .strategies-section .know-more-container .know-more-link {
      display: inline-block;
      padding: 5px 10px;
      font-size: 22px;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      color: #565656;
      background: #e6e6e6; }

.site-footer {
  background-color: #cccccc; }
  .site-footer .footer-container {
    padding-top: 50px;
    padding-bottom: 50px; }
  .site-footer #menu-footer-menu {
    margin: 0 0 20px;
    padding-left: 0;
    list-style-type: none; }
    .site-footer #menu-footer-menu li {
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;
      transition: all .2s linear; }
      .site-footer #menu-footer-menu li a {
        color: #545454;
        text-decoration: none; }
        .site-footer #menu-footer-menu li a span {
          text-transform: none; }
  .site-footer .site-info-container .site-info {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize; }
  .site-footer .site-info-container .site-disclaimer {
    font-size: 14px;
    font-weight: 600; }
  .site-footer .site-info-container .footer-link {
    color: #545454;
    text-decoration: none;
    font-weight: 600; }

@media (min-width: 981px) {
  .site-footer #menu-footer-menu {
    display: flex;
    justify-content: space-between; }
    .site-footer #menu-footer-menu li {
      flex: auto;
      padding-left: 15px;
      padding-right: 15px; }
      .site-footer #menu-footer-menu li:first-child {
        padding-left: 0; }
      .site-footer #menu-footer-menu li:last-child {
        padding-right: 0; }
      .site-footer #menu-footer-menu li:not(:last-child) {
        border-right: 2px solid #545454; }
  .site-footer .site-info-container .info-right-container {
    width: 20% !important; }

  .process-section .flex-section {
    width: calc(100% / 5);
    box-sizing: border-box; } }
@media (min-width: 721px) {
  .home-banner-container .banner-note-container > div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; }
    .home-banner-container .banner-note-container > div > div:not(:last-child) {
      position: relative;
      margin-right: 10px;
      padding-right: 10px; }
      .home-banner-container .banner-note-container > div > div:not(:last-child):after {
        content: "|";
        position: absolute;
        right: -5px; }

  .strategies-section .strategy-flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    margin-top: 40px; }
  .strategies-section .flex-section .strategy-title {
    margin: 15px 15px 10px; }
  .strategies-section .flex-section .strategy-desc {
    margin: 0 15px 15px; }

  .site-footer .site-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end; }
    .site-footer .site-info-container .info-left-container {
      flex: 1;
      padding-right: 15px; }
    .site-footer .site-info-container .info-right-container {
      width: 30%;
      text-align: right; } }
@media (min-width: 621px) {
  .pms-section .pms-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 40px;
    border-bottom: 1px solid; }
  .pms-section .pms-mobile-container {
    display: none; }
  .pms-section .flex-section {
    width: calc(100% / 2);
    box-sizing: border-box; }
    .pms-section .flex-section:nth-child(1) {
      padding-right: 15px; }
    .pms-section .flex-section:nth-child(2) {
      padding-left: 15px; } }
@media (max-width: 980px) and (min-width: 721px) {
  .process-section .flex-section {
    width: calc(100% / 3);
    box-sizing: border-box; } }
@media (max-width: 720px) and (min-width: 421px) {
  .process-section .flex-section {
    width: calc(100% / 2);
    box-sizing: border-box; } }
@media (min-width: 421px) {
  .process-section .process-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; } }
@media (max-width: 980px) {
  .home-banner-container .banner-text {
    padding-left: 30px; }
    .home-banner-container .banner-text h3 {
      font-size: 22px; }

  .pms-section .section-title {
    font-size: 22px; }

  .process-section .section-title {
    font-size: 22px; }

  .strategies-section .strategy-flex-container {
    margin-top: 30px; }
  .strategies-section .section-title {
    font-size: 22px; } }
@media (max-width: 980px) and (min-width: 421px) {
  .site-footer #menu-footer-menu {
    column-count: 2; }
    .site-footer #menu-footer-menu li {
      padding-bottom: 5px; } }
@media (max-width: 720px) {
  .home-banner-container .banner-text {
    width: 100%;
    flex: auto;
    margin-bottom: 30px;
    max-width: 400px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0; }
  .home-banner-container .callback-form-container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto; }
    .home-banner-container .callback-form-container:before {
      content: none; }
  .home-banner-container .banner-note-container > div > div:not(:last-child) {
    margin-bottom: 5px; }

  .strategies-section .flex-section {
    padding: 15px;
    margin-bottom: 30px; }
    .strategies-section .flex-section .strategy-title {
      margin: 0 0 10px; }
    .strategies-section .flex-section .strategy-desc {
      margin: 0; }
  .strategies-section .know-more-container .know-more-link {
    font-size: 18px; }

  .site-footer .site-info-container .info-left-container {
    margin-bottom: 15px; } }
@media (max-width: 620px) {
  .pms-section .pms-flex-container .pms-note {
    display: none; }
  .pms-section .pms-mobile-container {
    margin-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid; }
    .pms-section .pms-mobile-container .pms-note {
      font-size: 12px; } }
@media (max-width: 420px) {
  .process-section .process-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .process-section .flex-section img {
    max-width: 60px;
    margin: 0; }
  .process-section .flex-section .icon-title {
    margin-top: 0;
    margin-left: 20px;
    flex: 1;
    text-align: left; }

  .site-footer #menu-footer-menu li {
    padding-bottom: 5px;
    text-align: left; } }

/*# sourceMappingURL=main.css.map */
