// Global 
body.home {
	margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.width-setter {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
}

// Header
.header-container {
    padding-top: 10px;
    padding-bottom: 10px;

    .logo-container {
        max-width: 150px;
    }
}

// Banner
.home-banner-container {
    padding-bottom: 30px;

    .banner-image {
        background-image: url('../images/banner.jpg');
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: left;
        background-size: contain;
        background-color: #f2f2f2;
        // height: 200px;

        & > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 0;
            border-top: 1px solid transparent;
        }
    }

    .banner-text {
        flex: 1;
        padding-top: 60px;
        padding-right: 30px;
        max-width: 450px;
        margin: 0 auto;
        line-height: 1.2;
        padding-left: 125px;
        text-transform: uppercase;

        h3 {
            margin: 0;
            font-size: 32px;
            font-weight: 600;
        }

        span {
            color: #8f6706;
        }
    }

    .callback-form-container {
        position: relative;
        padding: 20px 25px;
        z-index: 1;
        color: #ffffff;
        max-width: 350px;
        margin-top: -18px;
        margin-left: auto;
        background: linear-gradient( 316deg, transparent 17px, #0f2865 18px);

        &:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            left: -18px;
            border-style: solid;
            border-color: transparent #f3ac14 #f3ac14 transparent;
            border-width: 18px 18px 0 0;
        }

        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            right: -1px;
            border-style: solid;
            border-color: #f3ac14 transparent transparent transparent;
            border-width: 25px 25px 0 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            // display: block;
            font-size: 12px;
            font-weight: 600;
        }

        .validation_message {
            color: #fa0101;
        }

        .cfield_label {
            display: none;
            margin-bottom: 5px;
            font-weight: 600;
        }

        .cfield {
            margin-bottom: 10px;
        }

        input[type="text"], select {
            width: 100%;
            box-sizing: border-box;
            padding: 8px;
        }

        input[type="submit"] {
            background-color: #265acf;
            color: #ffffff;
            border-color: #265acf;
            border-radius: 50px;
            padding: 8px 25px;
            font-size: 14px;
            font-weight: 600;
        }

        .cform_footer {
            margin-top: 25px;
        }

        .cform_title {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .banner-note-container {
        background-color: #8f6706;
        color: #ffffff;
        font-size: 18px;
        text-align: center;

        & > div {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

// PMS section
.pms-section {
    // padding-top: 50px;
    padding-top: 0;
    padding-bottom: 30px;

    .section-title {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }

    .flex-section {
        font-size: 18px;
        line-height: 1.7;
        text-align: justify;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        .pms-note {
            margin-top: 10px;
            font-size: 12px;
        }
    }
}

// Process section
.process-section {
    // padding-top: 50px;
    padding-top: 0;
    padding-bottom: 30px;

    .section-title {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }

    .process-flex-container {
        padding-bottom: 40px;
        border-bottom: 1px solid;
    }

    .flex-section {
        img {
            // max-width: 60px;
            margin: 0 auto;
            display: block;
        }

        .icon-title {
            margin: 25px 0 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
            text-align: center;
        }
    }

    .process-icon {
        padding: 20px 10px;
    }
}

// Strategies section
.strategies-section {
    // padding-top: 50px;
    padding-top: 0;
    padding-bottom: 60px;

    .section-title {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }

    .strategy-flex-container {
        margin-bottom: 40px;
    }

    .flex-section {
        background-color: #e6e6e6;

        .strategy-title {
            // margin: 15px 15px 10px;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.3;
            text-transform: capitalize;
        }

        .strategy-desc {
            text-align: justify;
        }
    }

    .strategy-note {
        color: #868686;
        text-align: center;

        strong {
            color: #626262;
        }
    }

    .know-more-container {
        margin-top: 30px;
        text-align: center;

        p {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 18px;
            color: #656565;
        }

        .know-more-link {
            display: inline-block;
            padding: 5px 10px;
            font-size: 22px;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            color: #565656;
            background: #e6e6e6;
        }
    }
}

// Footer
.site-footer {
    background-color: #cccccc;

    .footer-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #menu-footer-menu {
        margin: 0 0 20px;
        padding-left: 0;
        list-style-type: none;

        li {
            font-weight: 600;
            text-align: center;
            text-transform: capitalize;
            transition: all .2s linear;

            a {
                color: #545454;
                text-decoration: none;

                span {
                    text-transform: none;
                }
            }
        }
    }

    .site-info-container {
        .site-info {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 300;
            text-transform: capitalize;
        }

        .site-disclaimer {
            font-size: 14px;
            font-weight: 600;
        }

        .footer-link {
            color: #545454;
            text-decoration: none;
            font-weight: 600;
        }
    }
}

// Media Queires
@media (min-width: 981px) {
    // Footer
    .site-footer {
        #menu-footer-menu {
            display: flex;
            justify-content: space-between;

            li {
                flex: auto;
                padding-left: 15px;
                padding-right: 15px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                &:not(:last-child) {
                    border-right: 2px solid #545454;
                }
            }
        }

        .site-info-container {
            .info-right-container {
                width: 20% !important;
            }
        }
    }

    // Process section
    .process-section {
        .flex-section {
            width: calc(100% / 5);            
            box-sizing: border-box;
        }
    }
}

@media (min-width: 721px) {
    // Banner section
    .home-banner-container {
        .banner-note-container {
            & > div {
                display: flex;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;

                & > div {
                    &:not(:last-child) {
                        position: relative;
                        margin-right: 10px;
                        padding-right: 10px;

                        &:after {
                            content: "|";
                            position: absolute;
                            right: -5px;
                        }
                    }
                }
            }
        }
    }

    // Strategies section
    .strategies-section {
        .strategy-flex-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 1fr;
            grid-column-gap: 35px;
            grid-row-gap: 35px;
            margin-top: 40px;
        }

        .flex-section {

            .strategy-title {
                margin: 15px 15px 10px;
            }

            .strategy-desc {
                margin: 0 15px 15px;
            }
        }
    }

    // Footer
    .site-footer {
        .site-info-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;

            .info-left-container {
                flex: 1;
                padding-right: 15px;
            }

            .info-right-container {
                width: 30%;
                text-align: right;
            }
        }
    }
}

@media (min-width: 621px) {
    // PMS section
    .pms-section {
        .pms-flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: 40px;
            border-bottom: 1px solid;
        }

        .pms-mobile-container {
            display: none;
        }

        .flex-section {
            width: calc(100% / 2);
            box-sizing: border-box;

            &:nth-child(1) {
                padding-right: 15px;
            }

            &:nth-child(2) {
                padding-left: 15px;
            }
        }
    }
}

@media (max-width: 980px) and (min-width: 721px) {
    // Process section
    .process-section {
        .flex-section {
            width: calc(100% / 3);
            box-sizing: border-box;
        }
    }
}

@media (max-width: 720px) and (min-width: 421px) {
    // Process section
    .process-section {
        .flex-section {
            width: calc(100% / 2);
            box-sizing: border-box;
        }
    }
}

@media (min-width: 421px) {
    // Process section
    .process-section {
        .process-flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 980px) {
    // Banner
    .home-banner-container {
        .banner-text {
            padding-left: 30px;

            h3 {
                font-size: 22px;
            }
        }
    }

    // PMS Section
    .pms-section {
        .section-title {
            font-size: 22px;
        }
    }

    // Process Section
    .process-section {
        .section-title {
            font-size: 22px;
        }
    }

    // Strategies section
    .strategies-section {
        .strategy-flex-container {
            margin-top: 30px;
        }

        .section-title {
            font-size: 22px;
        }
    }
}

@media (max-width: 980px) and (min-width: 421px) {
    // Footer
    .site-footer {
        #menu-footer-menu {
            column-count: 2;

            li {
                padding-bottom: 5px;
            }
        }
    }
}

@media (max-width: 720px) {
    // Banner
    .home-banner-container {
        .banner-image {
            // background-size: auto;
        }

        .banner-text {
            width: 100%;
            // max-width: 100%;
            flex: auto;
            margin-bottom: 30px;
            max-width: 400px;
            padding-top: 30px;
            padding-left: 0;
            padding-right: 0;
        }

        .callback-form-container {
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;

            &:before {
                content: none;
            }
        }

        .banner-note-container {
            & > div {
                & > div {
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    // Strategies section
    .strategies-section {
        .flex-section {
            padding: 15px;
            margin-bottom: 30px;

            .strategy-title {
                margin: 0 0 10px;
            }

            .strategy-desc {
                margin: 0;
            }
        }

        .know-more-container {
            .know-more-link {
                font-size: 18px;
            }
        }
    }

    // Footer
    .site-footer {
        .site-info-container {
            .info-left-container {
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 620px) {
    // PMS section
    .pms-section {
        .pms-flex-container {
            .pms-note {
                display: none;
            }
        }

        .pms-mobile-container {
            margin-top: 10px;
            padding-bottom: 40px;
            border-bottom: 1px solid;

            .pms-note {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 420px) {
    // Process Section
    .process-section {
        .process-icon {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .flex-section {
            img {
                max-width: 60px;
                margin: 0;
            }

            .icon-title {
                margin-top: 0;
                margin-left: 20px;
                flex: 1;
                text-align: left;
            }
        }
    }

    // Footer
    .site-footer {
        #menu-footer-menu {

            li {
                padding-bottom: 5px;
                text-align: left;
            }
        }
    }
}