.facts-wrapper a {
    color: #fff;
}
.facts-wrapper a:hover,
.facts-wrapper a:hover .fa {
    color: #fec52d;
}
@media (min-width: 992px) {
    .paleft {
        padding-left: 30px;
    }
    .paright {
        padding-right: 30px;
    }
}
.tableDiv {
    display: table;
    position: relative;
    height: 100%;
}
.tableDiv > div {
    display: table-cell;
    vertical-align: middle;
}
.abtMatter ul,
.abtMatter ul li {
    list-style-type: disc;
}
.abtMatter ul {
    padding-left: 20px;
}
.abtMatter ul li {
    padding-left: 10px;
}
.dashedBorder {
    border-bottom: 1px dashed #ccc;
}
.main-container h3 {
    font-size: 22px;
}
.main-container h3 span {
    font-weight: 400;
    font-size: 20px;
    color: orange;
    display: block;
    letter-spacing: normal;
}
.mailUs .box-border {
    min-height: 160px;
}
#accordion .row {
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
#accordion img {
    border: 1px solid #dfdfdf;
    padding: 10px;
}
#accordion p {
    text-align: justify;
}
.rwd-table {
    margin: 1em 0;
    min-width: 100%;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: 0.5em;
}
.rwd-table td:last-child {
    padding-bottom: 0.5em;
}
.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: 700;
    width: 200px;
    display: inline-block;
}
.whyUs ul.bullets li {
    list-style-type: disc;
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.main-container p {
    text-align: justify;
}
#loginForm input[type="text"],
#loginForm input[type="password"],
#loginForm input[type="number"],
#loginForm input[type="file"] {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
}
#loginForm .btn.btn-default {
    background: #ffc000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#loginForm .btn.btn-default:hover {
    background: #0f2765;
}
#loginForm .checkbox {
    font-size: 14px;
}
#loginForm .borderBottom {
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
#loginForm p {
    background: #0a1b47;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#loginForm p a {
    color: #fff;
    padding: 5px 15px;
}
#loginForm p a:hover {
    color: #ffc000;
}
#loginForm input[type="file"].myFile {
    background: url(../images/fileUpload.png) no-repeat right;
    cursor: pointer;
    padding-right: 47px;
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    vertical-align: top;
    width: 100%;
    color: transparent !important;
}
#loginForm .myFile::before {
    content: "Attached Resume";
    color: black;
    display: inline-block;
    padding: 8px 0;
    color: #6c757d;
}
#loginForm .myFile {
    color: transparent;
}
#loginForm .myFile::-webkit-file-upload-button {
    visibility: hidden;
}
#loginForm label.fileUpload {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
}
#career a[href="#careerForm"] {
    background: #0c1f51;
    color: #fff;
    font-size: 13px;
    padding: 0 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: inline-block;
}
#career a[href="#careerForm"]:hover {
    background: #0c1f51;
    color: #ffc000;
}
ul.newsLetter {
    margin: 0;
    margin-bottom: 30px;
}
ul.newsLetter li {
    display: block;
    padding: 0;
    margin: 20px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    float: none;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
}
ul.newsLetter li a {
    padding: 15px 15px 15px 0;
    display: block;
    color: #252a37;
}
.newsData {
    font-weight: 700;
}
.newsData a span {
    color: #ffae00;
    display: inline-block;
    vertical-align: middle;
    max-width: 400px;
}
.newsData a i {
    color: #ffae00;
    margin-right: 10px;
    font-size: 24px;
}
.newsData a i,
.newsData strong {
    display: inline-block;
    vertical-align: middle;
    padding-left: 13px;
}
ul.newsLetter li:hover {
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}
.newsDate {
    float: right;
}
@media (min-width: 768px) {
    .rwd-table td:before {
        display: none;
    }
}
.rwd-table th,
.rwd-table td {
    text-align: left;
}
@media (min-width: 768px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}
.resp-tabs-container table.rwd-table {
    color: #fff;
    border-radius: 0.4em;
    overflow: hidden;
}
.resp-tabs-container table.rwd-table tr {
    border-color: #46637f;
    background: #0c1f51;
}
.rwd-table th,
.rwd-table td {
    margin: 0.5em 1em;
    font-size: 13px;
}
@media (min-width: 768px) {
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
        font-size: 13px;
        line-height: 18px;
    }
}
.rwd-table th,
.rwd-table td:before {
    color: #dd5;
    color: #dd5;
    font-size: 13px;
    line-height: 18px;
}
.imgborder img {
    border: 1px solid #dfdfdf;
    padding: 10px;
}
.proicon {
    font-size: 45px;
    text-align: center;
}
.processBox .ts-service-box {
    padding: 15px;
    border: 1px solid #ccc; /*height:100%;*/
    position: relative;
}
.processBox .ts-service-box .circleDiv {
    color: #f7f7f7;
    font-size: 130px;
    position: absolute;
    text-align: center;
    left: 15px;
    top: 30px;
    font-weight: 700;
    z-index: -1;
}
.currentVid {
    width: 100%;
    height: 320px;
    margin-bottom: 40px;
}
h2.accordionHead {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    cursor: pointer;
    font-size: 26px;
    line-height: normal;
    background: url(../images/plus_minus.png) no-repeat 97% top;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
h2.accordionHead.active,
h2.accordionHead:hover {
    color: #fff;
    background: #868080 url(../images/plus_minus.png) no-repeat 97% bottom;
    padding-left: 15px;
}
.currentVid iframe {
    width: 100%;
    height: 100%;
}
.processBox .arrow {
    width: 100px;
    position: absolute;
    z-index: 99;
    display: table;
    background: #fff;
}
.upArrow {
    right: -101px;
    top: 95px;
}
.leftArrow {
    left: -101px;
    top: 100px;
    transform: rotate(180deg);
}
.downArrow {
    right: -20px;
    bottom: -66px;
    transform: rotate(90deg);
}
.processBox .arrow > div {
    display: table-cell;
    vertical-align: middle;
}
.arrow svg {
    width: 100%;
    height: auto;
}
#blog .floatDiv {
    float: left;
    margin: 0 30px 30px 0;
}
#blog .date {
    font-weight: 700;
    color: #ffc000;
}
@media (max-width: 999px) {
    .processBox .arrow {
        display: none;
    }
}
@media (max-width: 600px) {
    ul.newsLetter li {
        margin: 0;
        margin-bottom: 15px;
    }
    ul.newsLetter li a {
        padding: 0;
        padding-bottom: 10px;
    }
}
.main-container h2 {
    font-size: 22px;
}
.pageNotFound {
    background-image: url(/AlchemyTest/Content/Images/banner_404.jpg);
    background-repeat: no-repeat;
    min-height: 205px;
}
